In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('Table A_database.db')

In [3]:
cur = db.cursor()

In [4]:
cur.execute("CREATE TABLE A('B' INT, 'C' FLOAT)")

In [5]:
cur.execute("INSERT INTO A(B,C) VALUES (15,10.5)")

In [6]:
cur.execute("alter table A add column D float ")

In [7]:
cur.execute("alter Table A Drop Column D")

In [8]:
cur.execute("alter Table A add primarykey B")